<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/Katy.jpg" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvido por</ion-card-title>
    </ion-card-header>

    <ion-item href="#" class="ion-activated">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Katy Perry</ion-label>
    </ion-item>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>katyzinhapp@gmail.com</ion-label>
    </ion-item>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="earth-outline" slot="start"></ion-icon>
      <ion-label>www.KatyPerry.com.br</ion-label>
    </ion-item>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>Katyoficial</ion-label>
    </ion-item>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="pulse-outline" slot="start"></ion-icon>
      <ion-label>Versão: 0.0.1</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

